*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}
.heading{
    font-family: sans-serif;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px; 
    font-size: larger;
    letter-spacing: 8px; 
    
}
.box{
    width: 100%;
    height: 100vh;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}
.calculator{
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
    

}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 62px;
    
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    margin: 10px;
}
.calculator form input:hover{
    box-shadow: -8px -8px 15px rgba(247, 4, 4, 0.1),5px 5px 15px rgba(35, 213, 12, 0.2);
    background: transparent;
}
form .result{
    display: flex;
    justify-content: flex-end;
    margin: 20px,0;
}
form .result input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
@media screen and (max-width: 320px) {
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        box-sizing: border-box;
        
    }
    .heading{
        font-family: sans-serif;
        background-color: #e3e3e3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px; 
        font-size: small;
        letter-spacing: 2px; 
        
    }
    .box{
        width: 100%;
        height: 100vh;
        background-color: #e3e3e3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -40px;
    }
    .calculator{
        background-color: #3a4452;
        padding: 20px;
        border-radius: 10px;
        
    
    }
    .calculator form input{
        border: 0;
        outline: 0;
        width: 44px;
        height: 44px;
        border-radius: 62px;
        
        box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
        background: transparent;
        font-size: 20px;
        color:#fff;
        cursor: pointer;
        margin: 10px;
    }
    .calculator form input:hover{
        box-shadow: -8px -8px 15px rgba(247, 4, 4, 0.1),5px 5px 15px rgba(35, 213, 12, 0.2);
        background: transparent;
    }
    form .result{
        display: flex;
        justify-content: flex-end;
        margin: 20px,0;
    }
    form .result input{
        text-align: right;
        flex: 1;
        font-size: 45px;
        box-shadow: none;
    }
    form input.equal{
        width: 145px;
        display: inline;
        align-items: center;
        justify-content: center;
    }
}